<section class="settings-container">
  <form class="settings-container__form" action="#">

    <h1 class="settings-container__form__title">
      How much should the universe know about you ?
    </h1>

    <div data-component="user-location-input"></div>
    <h2 class="settings-container__form__label">
      Share your location and we will plot it on the map for other people to know
    </h2>

    <div data-component="user-attendance-input"></div>
    <h2 class="settings-container__form__label">Make you attendance public</h2>

    <div data-component="user-email-input"></div>
    <h2 class="settings-container__form__label">
      We will send you one email just before the event with awesome people to meet
    </h2>

    <button class="setting-container__form__submit">
      Find other travellers
    </button>
  </form>
  <p class="settings-container__detail">
    This is just a fun little hack from the team at
    <a href="http://gitter.im"> Gitter </a> to help people meet each other at universe. All data is temporarily stored.
</section>
