<section class="settings-container">
  <div class="settings-container__menu" data-component="user-menu"></div>
  <h1 class="settings-container__title">How much should the universe know about you ?</h1>
</section>
