<section class="settings-container">
  <form class="settings-container__form" action="#">

    <h1 class="settings-container__form__title">
      How much should the universe know about you ?
    </h1>

    <div class="settings-container__form__location"  data-component="user-location-input"></div>
    <h2 class="settings-container__form__label">
      Share your location and we will plot it on the map for other people to know ?
    </h2>

    <div data-component="user-email-input"></div>
    <h2 class="settings-container__form__label">
      We will send you one email just before the event with awesome people to meet ?
    </h2>

    {{#if hasCompletedForm}}
      <button class="setting-container__form__submit">
        Save
      </button>
    {{else}}
      <button class="setting-container__form__submit">
        Find other travellers
      </button>
    {{/if}}
  </form>

  <p class="settings-container__detail">
    This is just a fun little hack from the team at
    <a class="settings-container__detail__link" href="http://gitter.im"> Gitter </a> to help people meet each other at universe. All data is temporarily stored.
  </p>

  <form class="hidden" data-component="details">
    <input type="text" name="lat" />
    <input type="text" name="lng" />
    <input type="text" name="country_short" />
    <input type="text" name="locality" />
    <input type="text" name="country" />
  </form>
</section>
