<span class="menu__trigger fa fa-bars"></span>
<div class="menu__items">
  <img class="profile-image" src="{{avatar_url}}" alt="{{name}} image" title="{{name}}">
  <ul class="menu" data-component="menu-list"></ul>
</div>
