<div class="menu__items">
  <img class="menu__items__profile" src="https://avatars.githubusercontent.com/{{login}}" alt="{{name}} image" title="{{name}}">
  <ul class="menu__items__list" data-component="menu-list"></ul>
</div>
