@import "../mixins/utils/border-box.css";
@import "../mixins/grid/row.css";
@import "../mixins/text/base.css";
@import "../mixins/text/anchor-reset.css";
@import "../mixins/text/anchor.css";


.footer {
  @include border-box();
  @include row();
  flex-direction: column;
  align-items:    center;
  padding:        9rem 0;
  background:     $brand-second;
}

.footer__logo {
  background:      url('~svg/not-gary.svg');
  width:           35px;
  height:          51.5px;
  background-size: 100%;
  margin-bottom:   4rem;
}

.footer__detail {
  @include text-base();
  font-size:      1.3rem;
  line-height:    1.84rem;
  letter-spacing: .15rem;
  color:          $brand-sixth;
}

.footer__detail__icon {
  color:     $brand-fifth;
  font-size: 2rem;
  margin:    0 .3em;
}

.footer__detail__link {
  @include anchor-reset();
  @include anchor();
}
