@import "../mixins/buttons/btn-primary.css";
@import "../mixins/text/base.css";

html {
  font-size: 62.5%;
  height:    100%;
}

body {
  width:      100%;
  height:     100%;
  background: $brand-second;
  font-size:  1.6em;
}

.main {
  position:   relative;
  min-width:  100%;
  height:     100%;
  background: $brand-second;
  z-index:    10;

  transition: transform .2s ease-in-out .1s;

  .menu-open & {
    transform: translateX(-50%);

    @media(min-width: 780px) {
      transform: translateX(-25%);
    }
  }
}

.application-container {
  background: $brand-second;
}

.sidecar-button {

  @include text-base();
  @include btn-primary();

  position: fixed;
  top:      25%;
  left:    -1px;

  @media(max-width: 780px) {
    top: 90%;
  }
}

.hidden {
  display: none;
}
