@import "../mixins/utils/border-box.css";
@import "../mixins/grid/row.css";

.header {

  @include border-box();
  @include row();

  flex-direction: column;
  align-items: center;

  background: $brand-tertiary;
}
