@import "../mixins/utils/border-box.css";
@import "../mixins/grid/row.css";
@import "../mixins/text/base.css";

.header {
  @include border-box();
  @include row();
  position:       relative;
  flex-direction: column;
  align-items:    center;
  padding:        5rem 0;
  background:     $brand-third;
}

.header__logo {
  background:      url('~svg/gitter-planet-icon.svg');
  width:           90px;
  height:          70px;
  background-size: 100%;
  margin-bottom:   2.4rem;
}

.header__title {
  @include text-base();
  font-size:      2.45rem;
  line-height:    3.45rem;
  font-weight:    bold;
  letter-spacing: .12em;
  color:          white;
}

.header__detail {
  @include text-base();
  font-size:      1rem;
  line-height:    1.4rem;
  font-weight:    normal;
  letter-spacing: .22em;
  color:          $brand-fourth;
}
