@import "../mixins/utils/border-box.css";
@import "../mixins/grid/row.css";
@import "../mixins/text/base.css";

.header {
  @include border-box();
  @include row();
  flex-direction: column;
  align-items:    center;
  padding:        5rem;
  background:     $brand-third;
}

.header__logo {
  background:    url('~svg/gitter-planet-icon.svg');
  width:         188px;
  height:        147px;
  margin-bottom: 2.4rem;
}

.header__title {
  @include text-base();
  font-size:     2.45rem;
  line-height:   3.45rem;
  font-weight:   bold;
  color:         white;
}

.header__detail {
  @include text-base();
  font-size:   1rem;
  line-height: 1.4rem;
  font-weight: normal;
  color:       $brand-fourth;
}
