@import "../mixins/text/base.css";
@import "../mixins/text/p.css";

.menu {
  align-self:   flex-end;
  margin-top:   -3rem;
  margin-right: 2rem;
  font-size:    3rem;
  color:        $brand-fourth;
}

.menu__trigger {
  &:hover {
    cursor: pointer;
  }
}

.menu__items {
  display: none;
}
