@import "../mixins/utils/border-box.css";
@import "../mixins/grid/row.css";
@import "../mixins/text/base.css";
@import "../mixins/text/h1.css";
@import "../mixins/text/h2.css";
@import "../mixins/text/p.css";


.results-container {
  @include border-box();
  @include row();
  flex-direction: column;
  align-items: center;
  padding: 8rem 1rem;
  background: $brand-second;
  text-align: center;
}

.results-container__title {
  @include text-base();
  @include h1();
  margin-bottom: 8rem;
}

.results-container__detail {
  @include text-base();
  @include h2();
  max-width:     80rem;
  margin-top:    4.5rem;
  margin-bottom: 7.2rem;
}

.results-list {
  display:         flex;
  flex-direction:  row;
  padding-left:    0;
  flex-wrap:       wrap;
  justify-content: center;
  max-width:       80%;
  margin:          auto;

  & li {
    flex:         0 0 20rem;
    margin:  0 1rem;
  }

  & .leaderboard__items__item__count {
    display: none;
  }
}



.suggestion-content {
  text-align: left;
}

.suggestion-content__name {
  @include p();
  margin: .5rem 0 0 0;
}

.suggestion-content__reason {
  font-size:   1.2rem;
  color:       #fff;
  font-weight: 200;
  line-height: 1.8rem;
}
