@import "../mixins/utils/border-box.css";
@import "../mixins/grid/row.css";
@import "../mixins/text/base.css";
@import "../mixins/text/h1.css";
@import "../mixins/text/h2.css";
@import "../mixins/buttons/btn-primary.css";

.settings-container {
  @include border-box();
  @include row();
  flex-direction:  column;
  justify-content: center;
  padding-top:     8rem;
  text-align:      center;
}

.settings-container__menu {
  @include border-box();
  @include row();
  flex-direction: row-reverse;
}

.settings-container__detail {
  @include text-base();
  @include h2();
}


.settings-container__form {
  display: flex;
  flex-direction: column;
}

.settings-container__form__title {
  @include text-base();
  @include h1();
  margin-bottom: 6.5rem;
}

.settings-container__form__label {
  @include text-base();
  @include h2();
}

.setting-container__form__submit {
  @include text-base();
  @include btn-primary();
  align-self: center;
}
