$shadow-offset: .3em;
$shadow-hover-offset: .5em;
$shadow-active-offset: .3em;

@mixin btn-secondary() {
  display:         block;
  padding:         .7em 4em;
  border:          1px solid $brand-fifth;
  background:      $brand-second;
  color:           $brand-fifth;
  text-decoration: none;
  box-shadow:      $brand-first $shadow-offset $shadow-offset 0;
  transition:      all .1s ease-in;

  &:hover {
    cursor:       pointer;
    color:        $brand-fifth;
    border-color: $brand-fifth;
    box-shadow: $brand-first $shadow-hover-offset $shadow-hover-offset 0;
  }

  &:active {
    box-shadow: $brand-first $shadow-active-offset $shadow-active-offset 0;
  }
}
