<div class="results-layout">
  <div class="results-container">
    <h1 class="results-container__title">Hitchhikers gathered at the universe</h1>

    <h2 class="results-container__detail">
      We took a look at some of your public GitHub data and tried to find interesting people we think you should meet.
    </h2>

    <div data-component="results"></div>

    {{#if distance}}
      <a href="https://twitter.com/share?text=I've travelled {{distance}} miles to Github Universe. Try to find me!"
       target="_blank"
       class="results-container__share">
        <i class="fa fa-twitter"></i> Share
      </a>
    {{else}}
      <a href="https://twitter.com/share?text=I've travelled to Github Universe. Try to find me!"
       target="_blank"
       class="results-container__share">
        <i class="fa fa-twitter"></i> Share
      </a>
    {{/if}}

    <h2 class="results-container__detail">
      Check back soon as more people are added to the universe.
      <br><br>
      Come and join the Gitter team for drinks on <a href="http://attending.io/events/gitter-social" target="_blank" style="color:inherit">Wednesday night</a>.<br>
      We would love to meet you.
      <br><br>
      <a href="https://github.com/gitterHQ/hitchhikers" target="_blank" style="color:inherit">How does this thing work?</a>
    </h2>
  </div>
  <div class="index-layout__map-container__map" data-component="index-layout-map"></div>
  <div data-component="index-layout-leaderboard"></div>
</div>
