<div class="results-layout">
  <div data-component="index-layout-leaderboard"></div>
  <div class="suggestions-container">
    <h1 class="suggestions-container__title">Hitchhikers gathered at the universe</h1>
    <h2 class="suggestions-container__detail">
      We took a look of some of your public data on github and tried to find followers, fellow contributers and other people we thing you should meet.
    </h2>
    <div data-component="suggestions"></div>
    <h2 class="suggestions-container__detail">
      Check back soon as more people are added to the universe
    </h2>
  </div>
</div>

