<div class="loading-header">
  <h1 class="loading-heading__title">Loading</h1>
</div>
<div class="loader-container">
  <div class="loader">
    <div class="loader__left"></div>
    <div class="loader__right"></div>
  </div>
</div>
