<section class="leaderboard-container" data-component="index-layout-leaderboard">
  <h1 class="leaderboard-container__heading">Leaderboards</h1>
  <div class="leaderboard-container__leaderboards">
    <div class="leaderboard-container__leaderboards__board" data-component="distance-travelled">
      one
    </div>
    <div class="leaderboard-container__leaderboards__board" data-component="locations">
      two
    </div>
    <div class="leaderboard-container__leaderboards__board" data-component="members">
      three
    </div>
  </div>
</section>
