<div class="index-layout">

  <section class="index-layout__map-container">
    <h1 class="index-layout__map-container__heading">The unofficial hitchhiker's guide to Github's universe</h1>
    <!-- TODO Add the client ID from js as it is in the config file -->
    <a data-component="login" class="index-layout__map-container__login" href="/github/login">
      Just sign in with
      <span  class="octicon octicon-mark-github index-layout__map-container__login__icon"></span>
    </a>
    <p class="index-layout__map-container__detail">
      We'll take a look at some of your public data on GitHub and try to find interesting people for you to meet.
    </p>
  </section>

  <div class="index-layout__map-container__map" data-component="index-layout-map"></div>

  <div data-component="index-layout-leaderboard"></div>

</div>

