<div class="index-layout">

  <section class="index-layout__map-container">
    <h1 class="index-layout__map-container__heading">The unofficial hitchhiker's guide to Github's universe</h1>
    <div class="index-layout__map-container__map" data-component="index-layout-map"></div>
    <a class="index-layout__map-container__login">
      Sign in with
      <span  class="octicon octicon-mark-github index-layout__map-container__login__icon"></span>
    </a>
    <p class="index-layout__map-container__detail">
      There's 42 reasons to join the leaderboard and find interesting people to meet
    </p>
  </section>

  <section class="index-layout__leaderboard-container">
    <h1 class="index-layout__leaderboard-container__heading">Leaderboards</h1>
  </section>
</div>
