<div class="index-layout">

  <section class="index-layout__map-container">
    <h1 class="index-layout__map-container__heading">The unofficial hitchhiker's guide to Github's universe</h1>
    <!-- TODO Add the client ID from js as it is in the config file -->
    <a data-component="login" class="index-layout__map-container__login" href="/github/login">
      Just sign in with
      <span  class="octicon octicon-mark-github index-layout__map-container__login__icon"></span>
    </a>
    <p class="index-layout__map-container__detail">
      We'll take a look at some of your public data on GitHub and try to find interesting people for you to meet.
    </p>
  </section>

  <div class="index-layout__map-container__map" data-component="index-layout-map" id="map"></div>

  <div data-component="index-layout-leaderboard"></div>

</div>

<script>

L.mapbox.accessToken = 'pk.eyJ1IjoibGVyb3V4YiIsImEiOiJjaWV5ajFjNWcwMGI4c3VtNDRtdWRoeTgzIn0.ymSpDmGfwJVXc9-oCOUsMw';

var map = L.mapbox.map('map', 'lerouxb.nhefe79k', {
  zoomControl: false
}).setView([40, 0], 2);

map.touchZoom.disable();
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();
if (map.tap) map.tap.disable();

var featureLayer = L.mapbox.featureLayer()
  .loadURL('https://hitchhikers.gitter.im/users/geojson')
  .addTo(map);
featureLayer.on('ready', function() {
  map.fitBounds(featureLayer.getBounds());
});
 window.addEventListener('resize', function() {
  map.fitBounds(featureLayer.getBounds());
});


</script>
